<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!  --> app component
  </h1>

  <!-- Enable Parent component to test communication between two components-->
  <!-- <app-parent01 ></app-parent01> -->

  <router-outlet></router-outlet>