<p>
  parent data of {{parentdata.name}}
</p>
<!-- passing parent data to child 
childparentdata -> is the child data with input decorator
parentdata -> is the parent data
-->

<!-- (childdata_data)="countChangedHandler($event)
childdata_data -> is the child output decorator
countChangedHandler($event) -> is the parent method accepting child emitted data
-->
<div>
  CHILD DATA
  <app-child01 [childparentdata]="parentdata" (childdata_data)="countChangedHandler($event)">
  </app-child01>

<!--
  Accessing child data using template variables(#child)
  It is the simplest way to access child data in parent component 
-->
  <app-child02 #child></app-child02>
  <p> child data {{child.count}}</p>
  <button (click)="child.getcount()">AccessChildData</button>
</div>